h1 {
	font-family: 'Sofia Sans Extra Condensed', Cochin, serif;
	margin: 50px;
	color: #228B22;
	text-align: center;
}
td, th {
	border: 3px solid;
  }
th {
	font-size: 40px;
	font-family: 'Foldit', Cochin, serif;
}
.images {
	width: 80px;
}
.vertical {
	font-size: 40px;
	font-family: 'Sofia Sans Extra Condensed', Cochin, serif;
}
.data {
	font-size: 30px;
	font-family: 'Tilt Prism', Cochin, serif;
}
	
  
