body {
  background-color: #FFF685;
}
#planets {
  margin: auto;
  border: 3px solid;
  border-color: #0ABAB5;
}
h1 {
  font-family: 'Sofia Sans Extra Condensed', Cochin, serif;
  font-size: 60px;
  margin: 40px;
  color: #228B22;
  position: relative;
  text-align: center;
}
td, th {
  border: 3px dashed;
  border-color: coral;
  position: relative;
  text-align: center;
  }
th {
  font-size: 40px;
  font-family: 'Foldit', Cochin, serif;
}
.images {
  width: 80px;
  padding: 20px;
  position: relative;
  text-align: center;
}
.vertical {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Sofia Sans Extra Condensed', Cochin, serif;
  color: #4984B8;
  width: 240px;
  padding: 10px;
}
.data {
  font-size: 30px;
  font-family: 'Tilt Prism', Cochin, serif;
  background-color: #FDFD96;
}
#img_row {
  border: 5px dashed;
  border-color: #CF524E;
}
#italicize {
  font-style: italic;
}
	
  
