body {
  background-color: #FFF685;
}
#planets {
  margin: auto;
  border: 3px solid;
}
h1 {
  font-family: 'Sofia Sans Extra Condensed', Cochin, serif;
  font-size: 60px;
  margin: 40px;
  color: #228B22;
  text-align: center;
  position: relative;
}
td, th {
  border: 3px dashed;
  border-color: coral;
  text-align: center;
  position: relative;
  }
th {
  font-size: 40px;
  font-family: 'Foldit', Cochin, serif;
}
.images {
  width: 80px;
  padding: 20px;
  text-align: center;
  position: relative;
}
.vertical {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Sofia Sans Extra Condensed', Cochin, serif;
  color: #4984B8;
  width: 160px;
  padding: 10px;
}
.data {
  font-size: 30px;
  font-family: 'Tilt Prism', Cochin, serif;
  background-color: #F4C430;
}
	
  
